/** Allgemeine Styles f�r gwt- Widgets **/
.gwt-Label {
	font-family: Verdana;
	padding-top: 2px;
	padding-bottom: 2px;
}

.gwt-Button {
	font-family: Verdana;
}

.gwt-Anchor { 
	font-family: Verdana;
	text-decoration: none;
}

.gwt-TextBox {
	font-family: Verdana;
}
	
.gwt-SuggestBox {
	font-family: Verdana;
	margin-top: 1px;
	margin-bottom: 1px;
}

.gwt-SuggestBoxPopup {
	font-family: Verdana;
}

.gwt-DialogBox {
	z-index: 2;
}

.gwt-DialogBox .Caption {
	font-family: Verdana;
}

.gwt-HTML { 
	font-family: Verdana;		
}

.gwt-RadioButton {
	font-family: Verdana;		
}

/** Styles f�r HTML- Elemente **/
div#map {
	z-index: 1;
	position: absolute;
	margin-left: 24em;
	border: 1px dashed silver;
	width: 75%;
	height: 85%;
}

img#htwMapsLoad {
	z-index: 2;
	position: absolute;
	width: 250px;
 	height: 250px;
 	left: 50%;
 	top: 50%;
 	margin-left: -125px;
 	margin-top: -125px;
	visibility: hidden;
}

/** Eigene Style**/
.controlsPanel {
	float: left; 
}

.controlsPanel {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;		
}

.statusLabelNormal{
	font-family: Verdana;
	color: black;
	font-weight: normal ;
}

.statusLabelError{
	font-family: Verdana;
	color: red;
	font-weight: bold;
}