/** Allgemeine Styles f�r gwt- Widgets **/
.gwt-Label {
	font-family: Verdana;
	font-size: 10pt;
	padding-top: 2px;
	padding-bottom: 2px;
}

.gwt-Button {
	font-family: Verdana;
	font-size: 10pt;
}

.gwt-Anchor { 
	font-family: Verdana;
	font-size: 10pt;
	text-decoration: none;
}

.gwt-TextBox {
	font-family: Verdana;
	font-size: 8pt;
}
	
.gwt-SuggestBox {
	font-family: Verdana;
	font-size: 8pt;
	margin-top: 1px;
	margin-bottom: 1px;
}

.gwt-SuggestBoxPopup {
	z-index: 2;
	font-family: Verdana;
	font-size: 10pt;
}

.gwt-DialogBox {
	z-index: 2;
}

.gwt-DialogBox .Caption {
	font-family: Verdana;
	font-size: 10pt;
}

.gwt-HTML { 
	font-family: Verdana;
	font-size: 10pt;		
}

.gwt-RadioButton {
	font-family: Verdana;
	font-size: 10pt;		
}

.gwt-HTMLTable {
	font-family: Verdana;
	font-size: 10pt;		
}


/** Styles f�r HTML- Elemente **/
div#map {
	z-index: 1;
	position: absolute;
	margin-left: 24em;
	border: 1px dashed silver;
	width: 75%;
	height: 85%;
}

img#htwMapsLoad {
	z-index: 3;
	position: absolute;
	width: 250px;
 	height: 250px;
 	left: 50%;
 	top: 50%;
 	margin-left: -125px;
 	margin-top: -125px;
	visibility: hidden;
}

/** Eigene Styles**/
.controlsPanel {
	float: left; 
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;		
}

.optionsLabel {
	font-family: Verdana;
	font-size: 10pt;
	font-weight: bold;
	padding-top: 2px;
	padding-bottom: 2px;
}

.statusLabelNormal{
	font-family: Verdana;
	color: black;
	font-weight: normal;
}

.statusLabelError{
	font-family: Verdana;
	color: red;
	font-weight: bold;
}

.wayDescriptionItem{
	border-style:solid; 
	border-width:1px;
	border-top-color:white; 
	border-bottom-color:grey;
	border-right-color:white;
	border-left-color:white;
	padding:4px;
}