/** css rules */

.gwt-Label {
	font-family: Verdana;
	padding-top: 2px;
	padding-bottom: 2px;
}

.gwt-Button {
	font-family: Verdana;
}

.gwt-Anchor { 
	font-family: Verdana;
	text-decoration: none;
}

.gwt-TextBox{
	font-family: Verdana;
}
	
.gwt-SuggestBox {
	font-family: Verdana;
	margin-top: 1px;
	margin-bottom: 1px;
}

.gwt-SuggestBoxPopup {
	font-family: Verdana;
}

.controlsPanel {
	float: left; 
}

.summaryAndWayDescriptorPanel {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;		
}

.statusLabelNormal{
	font-family: Verdana;
	color: black;
	font-weight: normal ;
}

.statusLabelError{
	font-family: Verdana;
	color: red;
	font-weight: bold;
}


	